.reset{
    width: 90%;
    margin: 5rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 2rem;
    height: 100%;
}



.reset .header{
    /* text-align: center; */
    font-size: 1.5rem;
    color: orange;
    font-weight: 500;
}

.reset .down{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.reset .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.reset .oneinput{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}
.reset .oneinput input{
    padding: 0.4rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: 1px solid grey;
}
.reset  input::placeholder{
    font-weight: 400;
    font-size: 0.9rem;
    color: rgb(155, 155, 155);
}
.reset .oneinput .name{
    font-size: 1.2rem;
    font-weight: 500;
}
.reset .save {
    cursor: pointer;
    border: none;
    padding: 0.7rem 1rem;
    background-color: #1366D9;
    color: #fff;
    font-weight: 500;
    border-radius: 0.4rem;
    align-self: flex-end;
}

.reset .change{
    cursor: pointer;
    border: none;
    padding: 0.7rem 1rem;
    background-color: orange;
    color: #fff;
    font-weight: 500;
    border-radius: 0.4rem;
    width: 100%;
    transition: 1s;
}

.reset .change:hover{
    background-color: rgb(179, 117, 4);
}